body{
	height: 100%;
	/*background-color: rgb(242,242,242);*/
	background-color: #111;
} 

html{
	height: 100%;
}

h1{
	font-family: "Audiowide-Regular";
	font-size: 20px;
}

p{
	font-size: 18px;
	line-height: 26px;
}

table p{
	font-size: 15px;
	line-height: 20px;
}

/*main picture in the recording studio*/
.ae-about img{
	display: block;
	width: 600px;
	margin: auto;
}

/*picture for video services*/
.video-production-div img{
	display: block;
	margin: auto;
	width: 600px;
}

/*PARALLAX CONTAINERS*/

/*general rules for the parallax containers*/
.parallax2, .parallax3, .parallax4{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    height: 70%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.parallax2{
	background-image: url("../images/ae/mastering_portfolio_w1200h800.png");
}

.parallax3{
    background-image: url("../images/ae/videostreaming02_w2600h1950.jpg");   
}

.parallax4{
    background-image: url("../images/ae/yamahabooth_w2600h1892.jpg");
}

/*Box with title inside Parallax container*/
.parallax-textbox{
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 300px;
	height: 120px;
	background: rgb(0,0,0);
	border: solid white 2px;
	color: white;
	text-align: center;
	font-family: "Orbitron";
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 3px;
	line-height: 25px;
}


/*MEDIA QUERY*/

@media (max-width: 760px){
	.ae-about img, .video-production-div img{
		width: 80%;
	}
}